*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E9F0F7;
}

.container{
    width: 75%;
    margin: 0 auto;
    padding-top: 150px;
    font-family: "Roboto", sans-serif;
}

.attribution{
    margin-top: 50px;
    text-align: center;
}

.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}

.img_profile{
    width: 100%;
    max-width: 32px;
    border-radius: 50%;
    position: relative;
    z-index: 1; 
}

.img_profile, .name, .verified{
    position: relative;
    z-index: 1; 
}

.img_purple{
    border: 2px solid #986BD7;
}

.bg_quote{
    position: relative;
}

.contain_text{
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.review{
    font-size: 1.4rem;
    font-weight: 500;
}

.quote1{
    position: absolute;
    right: 0;
    font-size: 27rem;
    margin-top: 240px;
    color: #A775F2;
    opacity: 0.75;
    font-family: "Varela", sans-serif;
}


.name{
    font-size: 0.85rem;
}

.verified{
    font-size: 0.85rem;
    color: #979797;
}


.purple_text{
    color: #A175E8;
}

.quote_text{
    margin-top: 20px;
    font-size: 0.85rem;
    line-height: 1.75;
    color: #929292;
}

.item1 {grid-area: area1;}
.item2 {grid-area: area2;}
.item3 {grid-area: area3;}
.item4 {grid-area: area4;}
.item5 {grid-area: area5;}

.contain_items{
    width: 100%;
    display: grid;
    grid-template-areas: 
        'area1 area1 area1 area2 area5' 
        'area3 area4 area4 area4 area5'
    ;
    gap: 30px;
}

.item{
    padding: 25px 40px 25px 35px;
    background-color: aqua;
    border-radius: 10px;
    color: #fff;
}

.item1{
    background-color: #733ECA;
}

.item2{
    background-color: #49556B;
}

.item3{
    background-color: #fff;
    color: #474958;
}

.item4{
    background-color: #18202D;
}

.item5{
    background-color: #fff;
    color: #474958;
    max-width: 260px;
}




@media only screen and (max-width: 1024px){
    .container{
        width: 90%;
        margin: 0 auto;
        padding-top: 150px;
        font-family: "Roboto", sans-serif;
    }
    
}

@media only screen and (max-width: 800px){
    .container{
        padding-top: 100px;
    }
    .contain_items{
        width: 100%;
        display: block;
        gap: 30px;
    }

    .item{
        margin: 25px 0;
        padding: 25px 40px;
    }

    .item5{
        max-width: 100%;
    }
}





